<h2 class='text-center'>Editing post</h2>
<%= render 'form' %>
<div class='clearfix'></div>

<%= link_to 'Show', @post, class: button_class(2) %> |
<%= link_to 'Back', posts_path, class: button_class(1) %>